<div class="jumbotron">
  <h1>Event Tracker!</h1>
  <p>Planning an event? Track your participants here!</p>
  <p><%= link_to "Create New Event", new_event_url, :class => "btn btn-success btn-large" %></p>
</div>
 
<table class="table table-striped">
  <thead>
    <th>Event</th>
    <th>Attending</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td>
          <%= link_to event.name, event_path(event) %> - <%= event.description %><br />
          <img src="https://31.media.tumblr.com/86bd39d5729016a8384bd2883405bbf2/tumblr_n0ccdlln891r1o3ypo1_1280.png" height="12"><%= event.location %>
        </td>
        <td><%= event.total_participants %></td>
        <td><div style="float:left; margin-right:5px;" >
          <%= link_to 'Edit', edit_event_path(event), :class => "btn btn-primary btn-sm" %></div>
           <div style="float:left;"><%= button_to 'X', event, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm" %></div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
