<div><p><%= link_to "Back to Event List", events_url, :class => "btn btn-primary btn-large" %></p></div>

<h2>Create New Event</h2>

<%= flash[:error] %>
<%= form_for @event do |form| %>

	<div>
		<%= form.label :name %><br />
    	<%= form.text_field :name %>
	</div>
	<div>
		<%= form.label :description %><br />
    	<%= form.text_field :description %>
	</div>
	<div>
		<%= form.label :location %><br />
    	<%= form.text_field :location %>
	</div>
  <div><p></p></div>

	  <p><%= form.submit :class => "btn btn-success btn-large" %></p>
<% end %>

<% if @event.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@event.errors.count, "error") %> prohibited this post from being saved:</h2>
 
    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<footer>A website made with <img src="http://mytwitterweighsaton.com/images/emoji/emoji-E022.png"> by <a href="http://adrianavecchioli.com" target="_blank"><strong>Adriana Vecchioli</strong></a> & <a href="http://railsgirls.com/nyc" target="_blank">RailsGirlsNYC</a> - 2014</footer>