<div style="float:left; margin-right:15px; margin-bottom:10px;">
  <%= link_to "Back to Event List", events_url, :class => "btn btn-primary btn-large" %>
</div>
<div style="float:left; margin-right:15px; margin-bottom:10px;">
  <%= link_to 'Edit Event', edit_event_path(@event.id), :class => "btn btn-primary btn-large" %>
</div>
<div style="float:left; margin-right:15px; margin-bottom:10px;">
  <%= button_to 'Delete Event', @event, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-large" %>
</div>
<div style="clear:both;"></div>

<div class="jumbotron">
	<h1><%= @event.name %></h1>
	<p><strong><%= @event.description %></strong></p>
	<p><img src="https://31.media.tumblr.com/86bd39d5729016a8384bd2883405bbf2/tumblr_n0ccdlln891r1o3ypo1_1280.png" height="25"><%= @event.location %></p></div>

<div class="lemon"><h3>Participants</h3>
<ul>
<% @event.participants.each do |single_participant| %>
<li><strong><%= single_participant.popularity_label %></strong> <%= single_participant.name %> is bringing <%= pluralize(single_participant.guests, "guest") %><br />
    <table>
    <tbody><td>Bringing a guest?</td>
    	<td><%= button_to "+1", add_guest_event_participant_path(@event.id, single_participant.id), :class => "btn btn-xs"  %></td>
    </tbody>
    </table>
  </li>
<% end %>
</ul>
<h3>Add Participant</h3>
 
<%= form_for [@event, @event.participants.new]  do |form| %>
  <%= form.text_field :name %>
  <%= form.submit :class => "btn btn-success" %>
<% end %>
<div><p>Bring all your friends!</p></div></div>


